html,body{
    margin:0px;
    height: 90%;
}

.titulo {
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
}

.table {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 0px;
    margin-left: auto;
    margin-top: 0px;
}

.searchbar {
    display: flex;
    margin:0px;
    height:100%;
    justify-content: center;
    position: relative;
}

.s {
    position: absolute;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border: 0px;
}

.terminal_linux {
    display: none;
    margin:0px;
    height:100%;
    align-items: center;
}

.terminal_bash {
    margin-left: auto;
    margin-right: auto;
}

#consola {
    display: none;
}

.div {
    display: flex;
    margin:0px;
    height:100%;
    align-items: center;
}